@font-face {
  font-family: 'Cerebri Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cerebrisans-medium.woff") format("woff"), url("../fonts/cerebrisans-medium.ttf") format("ttf"), url("../fonts/cerebrisans-medium.eof") format("eof"), url("../fonts/cerebrisans-regular.woff") format("woff"), url("../fonts/cerebrisans-regular.ttf") format("ttf"), url("../fonts/cerebrisans-regular.eof") format("eof"), url("../fonts/cerebrisans-semibold.woff") format("woff"), url("../fonts/cerebrisans-semibold.ttf") format("ttf"), url("../fonts/cerebrisans-semibold.eof") format("eof"); }

@font-face {
  font-family: Feather;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Feather.woff") format("woff"), url("../fonts/Feather.ttf") format("ttf"); }

@font-face {
  font-family: "toolkit-entypo";
  src: url("../fonts/toolkit-entypo.eot");
  src: url("../fonts/toolkit-entypo.eot?#iefix") format("eot"), url("../fonts/toolkit-entypo.woff2") format("woff2"), url("../fonts/toolkit-entypo.woff") format("woff"), url("../fonts/toolkit-entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, b, u, i, center, ol, ul, li, audio, video, color {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

* {
  box-sizing: border-box; }

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none; }

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md > [class*=container] {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0; } }

.navbar-expand-md .navbar-nav {
  flex-direction: column;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  .navbar-expand-md .navbar-nav .navbar-link {
    padding: .5rem 1.5rem;
    color: #6e84a3;
    display: flex;
    align-items: center; }
  .navbar-expand-md .navbar-nav .nav-sm .nav-link {
    font-size: .8125rem;
    color: #6e84a3;
    padding: .5rem 1.5rem;
    padding-left: 3.25rem; }
  .navbar-expand-md .navbar-nav .badge--soft-success {
    color: #00d97e;
    background-color: #ccf7e5;
    margin-left: 20px;
    display: inline-block; }
  .navbar-expand-md .navbar-nav .badge--primary {
    color: #fff;
    background-color: #2c7be5; }
  .navbar-expand-md .navbar-nav .fe {
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none; }

.left-sidebar .navbar-brand {
  display: block;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-right: 0; }
  .left-sidebar .navbar-brand img {
    max-height: 3rem;
    max-width: 100%; }

.left-sidebar__vertical {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-y: auto;
  background-color: #fff;
  border-color: #e3ebf6; }

.left-sidebar .navbar-collapse {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.left-sidebar__divider {
  min-width: 100%;
  border-color: #e3ebf6; }

.left-sidebar .navbar-heading {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: .625rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #95aac9;
  font-weight: 500;
  line-height: 1.1; }

.left-sidebar__btn {
  color: #fff;
  padding: .5rem .75rem;
  font-size: .9375rem;
  border-radius: .375rem;
  background-color: #2c7be5;
  border-color: #1862c6; }
  .left-sidebar__btn:hover {
    background-color: #1862c6;
    border-color: #175dba; }

.left-sidebar .user-profile {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem 1.5rem .75rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e3ebf6; }
  .left-sidebar .user-profile__avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: .83333rem;
    position: relative;
    display: inline-block; }
    .left-sidebar .user-profile__avatar:after {
      display: none; }
    .left-sidebar .user-profile__avatar img {
      width: 100%;
      height: 100%; }

.btn-primary {
  transition: all .3s ease;
  color: #1997c6;
  border-color: #1997c6;
  border: 1px solid;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-weight: 400; }
  .btn-primary:hover {
    color: #fff;
    background-color: #1997c6;
    border-color: #1997c6; }

body {
  font-family: "Feather";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: #f9fbfd; }

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px); }

.header__pretitle {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #95aac9;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 9px; }

.header__title {
  font-size: 1.625rem;
  font-weight: 500; }

@media (min-width: 768px) {
  .left-sidebar {
    margin-right: 0px; }
  .quick-stats__page, .quick-stats__downloads, .quick-stats__sign-ups, .quick-stats__upload {
    margin-bottom: 1.5rem; } }

@media (min-width: 992px) {
  .left-sidebar {
    margin-right: 40px; } }

@media (max-width: 767px) {
  #main-wapper {
    padding-top: 20px;
    padding-bottom: 20px; }
  .left-sidebar {
    display: block;
    margin-right: 0px; }
    .left-sidebar .logo {
      display: inline-block; }
    .left-sidebar__collapse {
      display: none; }
    .left-sidebar__toggle {
      display: inline-block;
      color: #434857;
      border-color: #434857;
      float: right;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      height: 33px;
      background-color: transparent;
      border: 1px solid;
      border-radius: 0.25rem;
      cursor: pointer; }
      .left-sidebar__toggle:hover, .left-sidebar__toggle:focus {
        color: #fff;
        background-color: #434857;
        border: 1px solid #ff6a00; }
    .left-sidebar__line {
      display: none; }
  .main-body .header {
    display: block; }
    .main-body .header .date-picker {
      width: 100%;
      padding-bottom: 10px; }
  .main-body .quick-stats__page, .main-body .quick-stats__downloads, .main-body .quick-stats__sign-ups, .main-body .quick-stats__upload {
    margin-bottom: 1rem; } }
