//-------------------------------------------------------
//- ABSTRACTS :: VARIABLES
//-------------------------------------------------------

//Fonts
$font-family-base: Cerebri Sans;
$font-family-icons: Feather;

//Font-size
$font-size-base: 16px;
$font-size-medium: 13px;
$font-size-small: 12px;
$font-size-xsmall: 10px;
$font-size-large: 20px;
$font-size-xlarge: 26px;

//Line-height
$line-height-base: 1.2;
$line-height-normal: 1.5;

//Font-weight
$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

//Color 
$cl-white: #fff;
$cl-dark: #212529;
$cl-pretitle: #95aac9;
$cl-green: #00d97e;
$cl-blue: #2c7be5;
$cl-link: #6e84a3;
$cl-link-hover: #12263f;

// Borders
$border-radius-base: 8px;
$border-radius-small: 3px;
$border-radius-hack: 100px;

//Border Color
$border-light-green: #c7d8b6;
$border-light-pink: #fbc3cd;
$border-gray: #afafaf;
$border-light-gray: #e3ebf6;
$border-light-blue: #2d7be5;
$border-btn: #1862c6;
$border-card: #edf2f9;

//Background
$bg-light-white: #f9fbfd;
$bg-light-pink: #fef0f3;
$bg-light-blue: #f5fbff;
$bg-light-gray: #f5f5f5;
