//-------------------------------------------------------
//- Modules :: Button
//-------------------------------------------------------

mixin buttons-link({href, text})
  a.btn-primary(
    href= href ? href : '#'
  )= text