include ./head/_head
include ./content/_content

include ./_sidebar
include ./_card-stats
include ./_button
include ./_plugins

doctype html
html(lang='en')
  head
    block head
  body
    block body
  +plugins()

