//-------------------------------------------------------
//- MODULES :: MODAL
//-------------------------------------------------------

mixin modal-demo()
  #modalDemo.modal.fade.fixed-right(tabindex='-1', role='dialog', aria-modal='true')
    .modal-dialog.modal-dialog-vertical(role='document')
      form#demoForm.modal-content
        .modal-body

          // Close
          a.close(data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×

          .modal-img.text-center
            img.img-fluid.mb-3(src='./images/designer-life.svg', alt='design')
            h3.text-center.mb-2 Make Dashkit Your Own
            p.text-center.mb-4 Set preferences that will be cookied for your live preview demonstration.

          hr.modal-line.mb-4

          .modal-color
            h4.modal-color__title.mb-1 Color Scheme
            p.modal-color__text.text-muted.mb-3 Overall light or dark presentation.

            .btn-group-toggle.d-flex.mb-4(data-toggle='buttons')
              label.btn.btn-white.active.col
                input(type='radio', name='colorScheme', value='light', id= 'colorSchemeLight', checked='checked')
                i.mr-2(class ="fe fe-sun") Light Mode
              label.btn.btn-white.col.ml-2
                input(type='radio', name='colorScheme', value='dark', id= 'colorSchemeDark')
                i.mr-2(class = "fe fe-moon") Dark Mode

          .modal-nav-position
            h4.modal-nav-position__title.mb-1 Navigation Position
            p.modal-nav-position__text.text-muted.mb-3 Select the primary navigation paradigm for your app.

            .btn-group-toggle.d-flex.mb-4(data-toggle='buttons')
              label.btn.btn-white.active.col
                input(type='radio', name='navPosition', value='light', id= 'navPositionSidenav', checked='checked')
                | Sidenav

              label.btn.btn-white.col.ml-2
                input(type='radio', name='navPosition', value='dark', id= 'navPositionTopnav')
                | Topnav

              label.btn.btn-white.col.ml-2
                input(type='radio', name='navPosition', value='dark', id= 'navPositionCombo')
                | Combo

        .modal-footer.border-0
          button.btn.btn-block.btn-primary.mt-auto(type='submit') Preview

