//-------------------------------------------------------
//- Modules :: Plugin
//-------------------------------------------------------

mixin plugins()
  script(
    src="https://code.jquery.com/jquery-3.3.1.min.js" 
  )
  script( src='js/bootstrap.min.js', type='text/javascript') 
  script(
    src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"
  )
  script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
  script(src="https://dashkit.goodthemes.co/assets/libs/chart.js/Chart.extension.min.js")
  script( src='js/main.js', type='text/javascript')  