//-------------------------------------------------------
//- Modules :: Sidebar
//-------------------------------------------------------

mixin sidebar()
  nav.navbar.navbar-vertical.navbar-expand-md.navbar-light

    //- Toggle
    button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    //- Logo
    a.navbar-brand(href='#')
      h1
        img(src='./images/logo.svg', alt='logo-main')
    
    //- User
    .navbar-user.d-md-none.js-dropdown
      .navbar-user__avatar.js-dropdown-toggle
        img.img-fluid(src='images/avatar-male-1.jpg' alt='user-avatar')

    //- Collaspe
    .collapse.navbar-collapse#navbarCollapse
      +main-menu()


  
