extends ./modules/_core

block head
  +head()

block body
  #main-wapper
    .container 
      .row 
        .col-3.col-sm-12
          +sidebar()
        .col-9.col-sm-12
          +content()






   



