//-------------------------------------------------------
//- Modules :: Content
//-------------------------------------------------------

mixin content()
  .js-main-content.main-content
      //- header
    
      header.header
        .container-fluid
          .header__body
            .row.align-items-end
              .col
                p.header__pretitle Overview
                h2.header__title Dashboard

              .col-auto
                a.btn.btn-primary(href='#') Create Report

      //- stats
      -
        var stats= [
          {
            title: 'BUDGET',
            count: '$24,500',
            badge: '+3.5%',
            icon: 'fe fe-dollar-sign'
          },
           {
            title: 'TOTAL HOURS',
            count: '763.5',
            icon: 'fe fe-briefcase'
          },
           {
            title: 'Progress',
            count: '84.5%',
            progress: true,
            icon: 'fe fe-clipboard'
          },
           {
            title: 'Effective Hourly',
            count: '$85.50',
            icon: 'fe fe-clock'
          }
        ]

      .container-fluid
        .row
          each item in stats
            +stats-card({title: item.title , count: item.count, badge: item.badge, progress: item.progress, icon: item.icon})
        
        .row
          .col-12.col-xl-8
            //- order 
            .card.card-order
              .card-header
                .row.align-items-center
                  .col
                    h4.card-header-title Order
                  .col-auto.mr-n3
                    span.text-muted Show affiliate:
                    
                  .col-auto
                    label.switch
                      input(type="checkbox" id="cardToggle")
                      span.slider.round

              .card-body
                .chart-order
                  canvas( id= "orderChart" width="585" height= "300")
          .col-xl-4.col-12
            //- devices
            .card.card-devices
              .card-header
                .row.align-items-center
                  .col
                    h4.card-header-title Devices
                  .col-auto
                    ul.card-header-tabs.nav.nav-tabs(role= "tablist")
                      li.tabs-item
                        a(href="#deviceChart1" role="tab" data-toggle="tab").active.small All
                      li.tabs-item.list-inline-item
                        a(href="#deviceChart2" role="tab" data-toggle="tab").direct-tab.small Direct
              .card-body
                
                - var deviceChart = [{ datasets: [60, 25, 15] },{ datasets: [15, 45, 20] }]
                .tab-content
                  .tab-pane.active#deviceChart1
                    .chart.chart-appended
                      canvas#devicesChart.js-devices-chart(width="255" height= "241", datasets= deviceChart[0])

                  .tab-pane#deviceChart2
                    .chart.chart-appended
                      canvas#devicesChart.js-devices-chart(width="255" height= "241", datasets= deviceChart[1])

                .chart-legend
                  span.chart-legend__item
                    span.icon-dot.cl-desktop
                      i(class="fas fa-circle")
                    | Desktop
                  span.chart-legend__item
                    span.icon-dot.cl-tablet
                      i(class="fas fa-circle")
                    | Tablet
                  span.chart-legend__item
                    span.icon-dot.cl-mobile
                      i(class="fas fa-circle")
                    | Mobile
        .row
          .col-xl-4.col-12
            //- Project
            .card.card-project
              .card-header
                .row.align-items-center
                  .col
                    h4.card-header-title Projects
                  .col-auto
                    a.card-header-link.small(href="#!") View all
              .card-body
                .row.align-items-center
                  .col-auto
                    a.card-avatar(href="#!")
                      img.img-fluid.rounded(src="./images/project-1.jpg", alt="img projcet")
                  .col.ml-n2
                    a(href="")
                      h5.card-title.mb-1 Homepage Redesign
                    p.card-text.small.text-muted Updated 5hr ago
                  .col-auto
                    .dropdown
                      a(href="#!" class= "dropdown-toggle dropdown-ellipses" role= "button" data-toggle = "dropdown" aria-expanded= "true")
                        span(class = "fe fe-more-vertical")
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="#!") Action
                        a.dropdown-item(href="#!") Another action
                        a.dropdown-item(href="#!") Something else here

                hr.card-line
                .row.align-items-center
                  .col-auto
                    a.card-avatar(href="#!")
                      img.img-fluid.rounded(src="./images/project-2.jpg", alt="img projcet")
                  .col.ml-n2
                    a(href="")
                      h5.card-title.mb-1 Travels & Time
                    p.card-text.small.text-muted Updated 5hr ago
                  .col-auto
                    .dropdown
                      a(href="#!" class= "dropdown-toggle dropdown-ellipses" role= "button" data-toggle = "dropdown" aria-expanded= "true")
                        span(class = "fe fe-more-vertical")
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="#!") Action
                        a.dropdown-item(href="#!") Another action
                        a.dropdown-item(href="#!") Something else here
                hr.card-line

                .row.align-items-center
                  .col-auto
                    a.card-avatar(href="#!")
                      img.img-fluid.rounded(src="./images/project-3.jpg", alt="img projcet")
                  .col.ml-n2
                    a(href="")
                      h5.card-title.mb-1 Safari Exploration
                    p.card-text.small.text-muted Updated 5hr ago
                  .col-auto
                    .dropdown
                      a(href="#!" class= "dropdown-toggle dropdown-ellipses" role= "button" data-toggle = "dropdown" aria-expanded= "true")
                        span(class = "fe fe-more-vertical")
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="#!") Action
                        a.dropdown-item(href="#!") Another action
                        a.dropdown-item(href="#!") Something else here
                hr.card-line

                .row.align-items-center
                  .col-auto
                    a.card-avatar(href="#!")
                      img.img-fluid.rounded(src="./images/project-5.jpg", alt="img projcet")
                  .col.ml-n2
                    a(href="")
                      h5.card-title.mb-1 Personal Site
                    p.card-text.small.text-muted Updated 5hr ago
                  .col-auto
                    .dropdown
                      a(href="#!" class= "dropdown-toggle dropdown-ellipses" role= "button" data-toggle = "dropdown" aria-expanded= "true")
                        span(class = "fe fe-more-vertical")
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="#!") Action
                        a.dropdown-item(href="#!") Another action
                        a.dropdown-item(href="#!") Something else here

          .col-xl-8.col-12
            //- performance
            .card.card-performance
              .card-header
                .row.align-items-center
                  .col
                    h4.card-header-title Performance
                  .col-auto
                    ul.card-header-tabs.nav.nav-tabs(role= "tablist")
                      li.tabs-item
                        a(href="#performanceChart1" role="tab" data-toggle="tab").active.small All
                      li.tabs-item.list-inline-item
                        a(href="#performanceChart2" role="tab" data-toggle="tab").small Direct
                      li.tabs-item.list-inline-item
                        a(href="#performanceChart3" role="tab" data-toggle="tab").small Origanic
              .card-body
                - var perChart = [{datasets: [0, 10, 5, 15, 10, 20, 15, 25, 20, 30, 25, 40]},{datasets: [25, 20, 30, 22, 17, 10, 18, 26, 28, 26, 20, 32]},{ datasets:[25, 10, 20, 10, 17, 10, 18, 20, 35, 25, 20, 32]}]
                
                .tab-content
                  .tab-pane.active#performanceChart1
                    .chart.chart-appended
                      canvas#performanceChart.js-performance-chart(width="585" height= "300", datasets= perChart[0])

                  .tab-pane#performanceChart2
                    .chart.chart-appended
                      canvas#performanceChart.js-performance-chart(width="585" height= "300", datasets= perChart[1])

                  .tab-pane#performanceChart3
                    .chart.chart-appended
                      canvas#performanceChart.js-performance-chart(width="585" height= "300", datasets= perChart[2])
        .row
          .col-xl-7.col-12
            //- goals
            .card.card-goals
              .card-header
                .row.align-items-center
                  .col
                    h4.card-header-title Goals
                  .col-auto
                    a(href="#!" class="btn btn-sm btn-white") Export
                
                -
                  var dataGoals = [
                    {
                      title: "GDPR Compliance",
                      status: "Completed",
                      progress: "100%",
                      date: "06/19/18",
                      team : [
                        {
                          person: "./images/avatar-1.jpg",
                          title: "Dianna Smiley"
                        },
                        {
                          person: "./images/avatar-2.jpg",
                          title: "Ab Hadley"
                        },
                        {
                          person: "./images/avatar-3.jpg",
                          title: "Adolfo Hess"
                        }
                      ]
                    },
                    {
                      title: "Plan design offsite",
                      status: "Completed",
                      progress: "100%",
                      date: "	06/30/18",
                      team : [
                        {
                          person: "./images/avatar-1.jpg",
                          title: "Dianna Smiley"
                        },
                        {
                          person: "./images/avatar-2.jpg",
                          title: "Ab Hadley"
                        },
                        {
                          person: "./images/avatar-3.jpg",
                          title: "Adolfo Hess"
                        },
                        {
                          person: "./images/avatar-4.jpg",
                          title: "Daniela Dewitt"
                        }
                      ]
                    },
                    {
                      title: "Release v1.2-Beta",
                      status: "In progress",
                      progress: "25%",
                      date: "08/26/18",
                      team : [
                        {
                          person: "./images/avatar-1.jpg",
                          title: "Dianna Smiley"
                        },
                        {
                          person: "./images/avatar-2.jpg",
                          title: "Ab Hadley"
                        },
                        {
                          person: "./images/avatar-3.jpg",
                          title: "Adolfo Hess"
                        }
                      ]
                    },
                    {
                      title: "Update the API",
                      status: "In progress",
                      progress: "55%",
                      date: "07/24/18",
                      team : [
                        {
                          person: "./images/avatar-1.jpg",
                          title: "Dianna Smiley"
                        },
                        {
                          person: "./images/avatar-2.jpg",
                          title: "Ab Hadley"
                        },
                        {
                          person: "./images/avatar-3.jpg",
                          title: "Adolfo Hess"
                        },
                        {
                          person: "./images/avatar-4.jpg",
                          title: "Daniela Dewitt"
                        }
                      ]
                    },
                    {
                      title: "v1.2 Documentation",
                      status: "Cancelled",
                      progress: "0%",
                      date: "06/25/18",
                      team : [
                        {
                          person: "./images/avatar-1.jpg",
                          title: "Dianna Smiley"
                        },
                        {
                          person: "./images/avatar-2.jpg",
                          title: "Ab Hadley"
                        }
                      ]
                    }
                  ]

              .table-responsive.mb-0(data-toggle = "lists", data-lists-values= "['goal-project', 'goal-status', 'goal-progress', 'goal-date']")
                table.goal-table.table-sm.table-nowrap.card-table
                  thead
                    tr
                      th
                        a.text-muted.sort(href="#!" data-sort = "goal-project") Goal
                      th
                        a.text-muted.sort(href="#!" data-sort = "goal-status") Status
                      th
                        a.text-muted.sort(href="#!" data-sort = "goal-progress") Progress
                      th
                        a.text-muted.sort(href="#!" data-sort = "goal-date") Due date
                      th.text-right Team
                      th.text-right
                  tbody.list
                    each item in dataGoals
                      tr
                        td.goal-project= item.title
                        td.goal-status
                          if item.status == "In progress"
                            span(class="text-warning icon-dot mr-1")
                              i(class="fas fa-circle")
                          if item.status == "Completed"
                            span(class="text-success icon-dot mr-1")
                              i(class="fas fa-circle")
                          if item.status == "Cancelled" 
                            span(class="text-danger icon-dot mr-1")
                              i(class="fas fa-circle")

                          | #{item.status}
                        td.goal-progress= item.progress
                        td.goal-date= item.date
                        td.text-right
                          .avatar-group.d-flex.justify-content-end
                            each img in item.team
                              a(href="#!" class ="avatar avatar-xs" data-toggle="tooltip" data-placement="top" title= img.title)
                                img(src= img.person, alt="img team" class="avatar-img img-fluid rounded-circle")
                        td.text-right 
                          .dropdown
                            a(href="#!" class= "dropdown-toggle dropdown-ellipses" role= "button" data-toggle = "dropdown" aria-expanded= "true")
                              span(class = "fe fe-more-vertical")
                            .dropdown-menu.dropdown-menu-right
                              a.dropdown-item(href="#!") Action
                              a.dropdown-item(href="#!") Another action
                              a.dropdown-item(href="#!") Something else here
          .col-xl-5.col-12
            .card.card-img
              .card-body.text-center
                .row.justify-content-center
                  .col-lg-10.col-12
                    img.img-fluid.mt-n5.mb-4(src="./images/happiness.svg", alt="img")

                    h4.card-img-title.mb-2 We released 2008 new versions of our theme for glory.
                    p.card-text.text-muted This is a true story and totally not made up. This is going to be better in the long run but for now this is the way it is.
                    a(href="#!" class="btn btn-primary") Try it for free