//-------------------------------------------------------
//- Modules :: Content
//-------------------------------------------------------

mixin content()
  .js-main-content.main-content
      //- header

      header.header
        .container-fluid
          .header__body
            .row.align-items-end
              .col
                p.header__pretitle Overview
                h2.header__title dashboards

              .col-auto
                a.btn.btn-primary(href='#') Create Report

      .container-fluid
        .row
          .col-lg-4.col-lg-6.col
            