//-------------------------------------------------------
//- BASE :: GLOBAL
//-------------------------------------------------------

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none;
}
a:hover {
  text-decoration: none;
}

a, .btn {
  cursor: pointer;
}

[class*="col-"] {
  padding-right: 12px;
  padding-left: 12px;
}

.text-muted {
  color: #95aac9!important;
}

.rounded {
  border-radius: .375rem!important;
}

@media (min-width: 768px){
  .navbar-vertical.navbar-expand-md>[class*=container] {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

