//-------------------------------------------------------
//- BASE :: GLOBAL
//-------------------------------------------------------

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none;
}

@media (min-width: 768px){
  .navbar-vertical.navbar-expand-md>[class*=container] {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

