//-------------------------------------------------------
//- COMPONENT :: CONTENT
//-------------------------------------------------------

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  color: $cl-dark;
  text-align: left;
  background: $bg-light-white;
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);

  .container-fluid {
    padding-left: 36px;
    padding-right: 36px
  }

  .card {
    margin-bottom: 1.5rem;
    border-color: $border-card;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    border-radius: 10px;

    .card-header {
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: 1px solid $border-card;
      padding: 8px 24px;
      line-height: 43px;

      .card-header-title {
        font-weight: 500;
        letter-spacing: -0.3px;
      }

      .card-header-tabs{
        margin: -0.5rem 0;
        .tabs-item {
          .active {
            color: #12263f;
            background-color: transparent;
            border-color: transparent transparent $cl-blue;
            border-bottom: 1px solid transparent;
          }
          a {
            color: $cl-pretitle;
            
            &:hover {
              color: $cl-link;
            }
          }
        }
      }
    }
    .card-body {
      padding: 24px;
    }
  }
}

.header {
  margin-bottom: 32px;
  
  &__body {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-light-gray;
  }

  &__pretitle {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $cl-pretitle;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-medium;
    margin-bottom: 9px;
    line-height: 11px; 
  }
  
  &__title {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-medium;
    line-height: 28.6px; 
    letter-spacing: -0.52px;
  }
}

//------order------------

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  vertical-align: bottom;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    width: 48px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: $cl-white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  .round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}

//chart
#chart-tooltip .arrow {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateX(-.5rem);
}

.popover {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.95rem;
}

.popover-header {
  margin-bottom: 0.25rem;
  border-bottom: 0;
}

.popover .arrow {
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.5rem;
}

.popover-body {
  padding: 0;
  color: $cl-pretitle;
}

.popover-body-indicator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.popover-body-label,
.popover-body-value {
  margin-left: 0.25rem;
  font-weight: 400;
  font-size: 13.5px;
}

.popover-header {
  padding: 0;
  margin-bottom: 5px;
  font-size: 0.9375rem;
  background-color: $cl-white;
  border-bottom: 1px solid $cl-white;
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
}

//-------- Devices ------------

.chart-legend {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 13px;
  text-align: center;
  color: $cl-pretitle;

  &__item {
    .icon-dot {
      font-size: 10px;
      vertical-align: middle;
      margin-right: 6px
    }
    margin-right: 16px;
  }

  .cl-desktop {
    color: $border-light-blue;
  }
  .cl-tablet {
    color: $cl-light-blue;
  }
  .cl-mobile {
    color: $cl-white-2;
  }
}

//---------Project ------------- 

.card-project {
  .card-avatar {
    img {
      width: 64px;
    }
  }
  .card-header {
    .card-header-link {
      color: $cl-blue;

      &:hover {
        color: $cl-blue-2;
      }
    }
   
  }
  .card-title {
    font-weight: 500;
    line-height: 16.5px;
    letter-spacing: -0.3px;
    transition: all 0.3s;
  }
  
  .dropdown {
    .dropdown-ellipses {
      font-size: 17px;
      color: $cl-white-2;
      transition: all 0.3s;
      &:hover {
        color: $cl-blue-2
      }
      &::after {
        display: none;
      }
    }
    .dropdown-menu {
      .dropdown-item {
        color: $cl-link;
        padding: 6px 24px;
      }
    }
  }
}
//performnace 
#performanceChart {
  height: 318px;
}

//------------ goals -----------

.card-goals {
  .table-responsive {
    overflow-y: hidden;
  }
  
  .avatar-group {
    .avatar-xs {
      width: 28px;
      height: 28px;
      margin-left: -9px;
      border: 2px solid $cl-white;
      border-radius: 50%;
      box-sizing: border-box;
      
      &:hover {
        z-index: 1;
      }
    }
  }
  
  // table
  .dataTables_wrapper{
    .dataTables_length, .dataTables_filter,
    .dataTables_info, .dataTables_paginate {
      display: none;
    }
    table.dataTable.no-footer {
      border: none;
    }
    
    .goal-table {
      th, td {
      padding: 15px 24px;
      }
      
      th {
        background-color: $bg-light-white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        color: $cl-pretitle;
        letter-spacing: 0.8px;
        border-bottom: 2px solid $border-card;
      }
      td {
        font-size: 13px;
        border-bottom: 1px solid $border-card;
        white-space: nowrap;
      }

      .icon-dot {
        font-size: 6px;
        vertical-align: middle;
      }

      .dropdown {
        .dropdown-ellipses {
          font-size: 17px;
          color: $cl-white-2;
          transition: all 0.3s;
          &:hover {
            color: $cl-blue-2
          }
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          .dropdown-item {
            color: $cl-link;
            padding: 6px 24px;
          }
        }
      }
    }
  }
}

.card-img {
  .card-img-title {
    letter-spacing: -.4px;
    font-weight: 500;
    line-height: 22px;
    font-size: 20px;
  }

  .card-text {
    margin-bottom: 16px;
  }
}


