//-------------------------------------------------------
//- COMPONENT :: MENU
//-------------------------------------------------------

.navbar-expand-md .navbar-nav{
  flex-direction: column;  
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  
  .navbar-link{
    padding: .5rem 1.5rem;
    color: #6e84a3;
    display: flex;
    align-items: center;
  }
  
  .nav-sm {
    .nav-link {
      font-size: .8125rem;
      color: #6e84a3;
      padding: .5rem 1.5rem;
      padding-left: 3.25rem;
    }
  }
  .badge {     
    &--soft-success{
      color: #00d97e;
      background-color: #ccf7e5;
      margin-left: 20px;
      display: inline-block;
    }
    &--primary {
     color: #fff;
     background-color: #2c7be5;
    }
  }
  .fe {
    font-family: Feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
  }
}