//-------------------------------------------------------
//- COMPONENT :: MENU
//-------------------------------------------------------

.navbar-expand-md .navbar-nav{
  flex-direction: column;  
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  
  .navbar-link{
    padding: .53rem 1.5rem;
    color: $cl-link;
    display: flex;
    align-items: center;
    font-size: 15px;
    transition: all 0.3s;  
  
    &--active {
      color: $cl-link-hover;
    }

    &:hover {
      color: $cl-link-hover;
    }

    &--has-children {
      &:after {
        display: block;
        content: "\e92e";
        font-family: $font-family-icons;
        margin-left: auto;
        transition: transform .2s;
      }
    }
    
    .fe {
      display: inline-block;
      min-width: 1.75rem;
      font-size: 1.0625rem;
      line-height: 1.40625rem;
    }
  
    &[aria-expanded=true]{
    
      &::after {
        transform: rotate(-180deg);
      }
    }    
  }
  .sub-menu {
    .navbar-link {
      font-size: $font-size-medium;
      color: $cl-link;
      padding: 8px 24px;
      padding-left: 52px;

      &:hover {
        color: $cl-link-hover;
      }
      &--active {
        color: $cl-link-hover;
        border-left: 2px solid $border-light-blue;
      }
    }
  }
  
  .child-menu {
     .navbar-link {
       padding-left: 64px;
    }
  }
}