
.modal-dialog-vertical {
  height: 100%;
  max-width: 350px;
  margin: 0;
  transition: transform .3s ease-out;
}

.modal-body {
  padding: 24px;
  overflow-y: auto;
  height: inherit;
}

.modal-content {
  border: none;
  border-radius: 0;
  height: 100%;
}

.fixed-right {
  margin-left: auto;
}

.fixed-left {
  margin-right: auto;
}

.close {
  color: $cl-pretitle;

  &:hover {
    color: $cl-pretitle;
  }
}

.btn-white {
  color: #283e59;
  border-color: $border-light-gray;

  &:hover,
  &:focus {
    background-color: $bg-light-white;
    border-color: $cl-white-2;
  }
}

#modalDemo {
  &.modal.fade .modal-dialog-vertical {
    transform: translateX(100%);
    margin-left: auto;
  }

  &.modal.show .modal-dialog-vertical {
    transform: translateX(0);
  }

  .modal-top {
    &__title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.4px;
      line-height: 22px;
    }

  }

  .modal-color-scheme,
  .modal-nav-position,
  .modal-sidebar-color{
    &__title {
      font-weight: 500;
      letter-spacing: -0.3px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .modal-body {
    height: inherit;
    overflow-y: auto;
  }
  
  .modal-footer {
    padding: 24px;
    padding-bottom: 35px;
  }

  .active {
    border-color: $cl-blue;
    color: $cl-blue;
    box-shadow: none;
  }
}

#modalAcivity {

  &.modal.fade .modal-dialog-vertical {
    transform: translateX(-100%);
  }

  &.modal.show .modal-dialog-vertical {
    transform: translateX(0);
  }

  .media {  
    &__img {
      width: 40px;
      height: 40px;
    }
  }

  .modal-header {
    padding: 24px;

    .modal-title {
      font-weight: 500;
      letter-spacing: -0.3px;
    }
  }

  .group-item {
    padding: 12px 0;
    border-bottom: 1px solid $border-light-gray;
    background-color: transparent;
  }

  .small {
    font-size: 13px;
    letter-spacing: 0.1px;
  }

  blockquote{
    margin: 0 0 1rem;
  }
}

#modalSearch {
  &.modal.fade .modal-dialog-vertical {
    transform: translateX(-100%);
  }

  &.modal.show .modal-dialog-vertical {
    transform: translateX(0);
  }
  .media {
    &__img {
      width: 48px;
      height: 48px;
    }

    .w-project{
      width: 64px;
    }

    .media-body {
      margin: auto;
    }

    &__title {
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 16.5px;
    }
  }

  .group-item {
    padding: 12px 0;
    border-bottom: 1px solid $border-light-gray;
    background-color: transparent;
  }

  .group-item:last-child{
    border-bottom: none;
  }

  .icon-dot {
    font-size: 6px;
    vertical-align: middle;
  }


  .modal-search-form {
    margin-bottom: 22px;
    position: relative;

    .input-group-prepend {
      padding: 9px 12px;
      position: absolute;
      top: 3px;
      left: 1px;
      z-index: 10;
      color:$cl-pretitle;
    }

    input[type="search"] {
      width: 100%;
      padding-left: 38px;
      background-color: $cl-white;
      padding-top: 8px;
      padding-bottom: 8px;
      height: auto;
      font-weight: 400;
      border-radius: 6px;

      &::placeholder {
        color: $cl-pretitle;
      }

      &:focus {
        box-shadow: none;
        border-width: 1px;
        border-style: solid;
        border-color:$cl-blue ;
      }
    }
  }
}

