//-------------------------------------------------------
//- COMPONENT :: RESPONSIVE
//-------------------------------------------------------

@media (max-width: 767px){
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .left-sidebar{
    &__vertical{
      max-width: 100%;
      padding: 12px 16px;
      position: static;
    }
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
      display: block;

      &::before {
        content: "";
        display: block;
        border-top-width: 1px;
        border-top-style: solid;
        margin: 12px -16px;
        border-top-color: #e3ebf6;
      }
    }
    .navbar-toggler {
      border: none;
      padding: 4px 0;
      
      .navbar-toggler-icon {
        height: 25px;
        color: #6e84a3;
      }
    }

    .navbar-brand {
      padding-top: 0px; 
      padding-bottom: 0px;
      
      img {
        max-width: 100%;
        max-height: 24px;
        vertical-align: middle;
      }
    }

    &__user {
      .user-profile {
        padding: 0px;
        margin: 0px;
        border: none;
        &__avatar {
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          display: inline-block;

          &::before {
            background-color: $cl-green;
            content: "";
            position: absolute;
            bottom: 5%;
            right: 5%;
            width: 20%;
            height: 20%;
            border-radius: 50%;
         }

          img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
        .dropdown-menu {
          left: -36px;
          top: 41px;
          transform: translateX(-50%);

          .dropdown-toggle {
            &::after {
              display: none;
            }

          }
          .dropdown-item {
            display: block;
            width: 100%;
            padding: .375rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: $cl-link;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            font-size: 15px;
            transition: all 0.3s;
            
            &:hover {
              color: $cl-link-hover;
              background-color: transparent;
            }
          }
        }
      }
    }

    .search-form {
      margin-bottom: 22px;
      position: relative;
  
      .input-group-prepend {
        padding: 9px 12px;
        position: absolute;
        top: 3px;
        left: 1px;
        z-index: 10;
        color:$cl-pretitle;
      }
  
      input[type="search"] {
        width: 100%;
        padding-left: 38px;
        background-color: $cl-white;
        padding-top: 8px;
        padding-bottom: 8px;
        height: auto;
        font-weight: 400;
        border-radius: 20px;
  
        &::placeholder {
          color: $cl-pretitle;
        }
  
        &:focus {
          box-shadow: none;
          border-width: 1px;
          border-style: solid;
          border-color:$cl-blue ;
        }
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .collapse:not(.show) {
    display: none;
  }
}