//-------------------------------------------------------
//- COMPONENT :: Sidebar
//-------------------------------------------------------

.left-sidebar {
  .navbar-brand {
    display: block;
    text-align: center;
    padding-top: $font-size-large;
    padding-bottom: $font-size-large;
    margin-right: 0;
    h1 {
      max-height: 48px;
    }
    img {
        max-height: 48px;
        max-width: 100%;
    }
  }
  &__vertical{
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    padding: 12px 24px;
    overflow-y: auto;
    background-color: $cl-white;
    border-right: 1px solid $border-light-gray;
  }
  
  .navbar-collapse {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__divider {
    min-width: 100%;
    border-color: $border-light-gray;
  }
  
  .navbar-heading{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 9px;
    font-size: $font-size-xsmall;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: $cl-pretitle;
    font-weight: $font-weight-medium;
    line-height: 1.1;
  }
  
  &__btn {
    color: $cl-white;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 6px;
    background-color: $cl-blue;
    border-color: $border-btn;
    &:hover {
      background-color: $border-btn;
    }
  }
  
  .user-profile {
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px 24px 12px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $border-light-gray;
    align-items: center;
    justify-content: space-around;

    &__link {
      color: $cl-link;
    }

    &__avatar {
      width: 40px;
      height: 40px;
      position: relative;
      display: inline-block;
      &::before {
        background-color: $cl-green;
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 20%;
        height: 20%;
        border-radius: 50%;
     }
     
      img {
        width: 100%;
        height: 100%;
      }
    }
    .dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
      
      .dropdown-item {
        display: block;
        width: 100%;
        padding: 6px 24px;
        clear: both;
        font-weight: 400;
        color: $cl-link;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 15px;
        transition: all 0.3s;
        
        &:hover {
          color: $cl-link-hover;
          background-color: transparent;
        }
      }
    }
  }
}

.dropup .dropdown-toggle::after {
  display: none;
}
